<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ news.title }}</title>
</head>
<body>
    <h2>{{ news.title }}</h2>
    <p>{{ news.content }}</p>
    <p>От {{ news.created_at }}</p>
    {% if perms.app_news.publish_news and not news.confirmed %}
        <form method="post">
            {% csrf_token %}
            <button name="publish" type="submit">Опубликовать</button>
        </form>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button name="add_comment" type="submit">Добавить комментарий</button>
    </form>
    {% for comment in comments %}
        {% if comment.author %}
            <h4>{{ comment.author.username }}</h4>
        {% else %}
            <h4>Аноним</h4>
        {% endif %}
        {{ comment.content }}
        <hr>
    {% endfor %}
    <a href="{% url 'news' %}"><button>Назад</button></a>
</body>
</html>